<!DOCTYPE html>
<html>
  <head>
  <title>MEMO APP</title>
  <link rel = "stylesheet"
        href = "/css/style.css">
  </head>
  <body>
    <h1>top-page</h1>
    <a href = "/index">task一覧ページ</a>
    <img src = "/images/photo-1553787496-8c79e52405d1.jpeg">
  </body>
</html>